* {
   margin: 0;
   background-color: #232121;
   color: white;
}
/* Utilitaire */
.color-primary {
   color: #232121;
}
.color-secondary {
   color: #fec022;
}
.background {
   background-color: #2f2e2e;
}
.d-flex {
   display: flex;
}
.justify-content-center {
   justify-content: center;
}
.justify-content-around {
   justify-content: space-around;
}
.justify-content-evenly {
   justify-content: space-evenly;
}
.col-flex {
   flex-direction: column;
}
.w-50 {
   width: 50%;
}
.font-style-italic {
   font-style: italic;
}
.p-40 {
   padding: 40px;
}
.f-size-40 {
   font-size: 40px;
}
.f-size-24 {
   font-size: 24px;
}
.text-align-center {
   text-align: center;
}
.text-align-justify {
   text-align: justify;
}

/*  */
/* Header */
.header {
   margin-bottom: 60px;
}
.header__img img {
   width: 200px;
   position: absolute;
   top: -24px;
   right: -25px;
   height: 302px;
   border-radius: 25px;
}
.header__img {
   width: 30%;
   position: relative;
}
.header__img--background {
   height: 302px;
   width: 200px;
   background: #fec022;
   position: absolute;
   top: 25px;
   border-radius: 25px;
}
.header__p {
   width: 40%;
}
.header__presentation {
   margin-top: 25px;
}
h1 {
   font-size: 40px;
}
/*  */

/* Dropdown */
.dropdown__button {
   display: flex;
   justify-content: center;
   padding: 15px;
   margin-bottom: 15px;
   width: 100%;
   border-radius: 25px;
   background-color: #2f2e2e;
   border: none;
   cursor: pointer;
}
.dropdown__button div,
.dropdown__button span {
   background-color: #2f2e2e;
   width: 100%;
   font-size: 28px;
}
/*  */

/* About */
.infos__left p,
.infos__right p {
   padding-bottom: 10px;
}
.infos__perso > p {
   margin-bottom: 15px;
}
.infos__perso span {
   color: #a4a2a2;
}
.link__title {
   margin-bottom: 15px;
}
.link img {
   width: 90px;
}
/*  */
