* {
   margin: 0;
   background-color: #232121;
   color: white;
}
/* Utilitaire */
.color-primary {
   color: #232121;
}
.color-secondary {
   color: #fec022;
}
.background {
   background-color: #2f2e2e;
}
.d-flex {
   display: flex;
}
.justify-content-center {
   justify-content: center;
}
.justify-content-around {
   justify-content: space-around;
}
.justify-content-evenly {
   justify-content: space-evenly;
}
.align-items-center {
   align-items: center;
}
.col-flex {
   flex-direction: column;
}
.wrap-flex {
   flex-wrap: wrap;
}
.m-auto {
   margin: auto;
}
.w-50 {
   width: 50%;
}
.font-style-italic {
   font-style: italic;
}
.p-40 {
   padding: 40px;
}
.f-size-40 {
   font-size: 40px;
}
.f-size-24 {
   font-size: 24px;
}
.text-align-center {
   text-align: center;
}
.text-align-justify {
   text-align: justify;
}
.position-relative {
   position: relative;
}
.position-absolute {
   position: absolute;
}
/*  */
/* Header */
.header {
   margin-bottom: 60px;
}
.header__img img {
   width: 200px;
   position: absolute;
   top: -24px;
   right: -25px;
   height: 302px;
   border-radius: 25px;
}
.header__img {
   width: 30%;
   position: relative;
}
.header__img--background {
   height: 302px;
   width: 200px;
   background: #fec022;
   position: absolute;
   top: 25px;
   border-radius: 25px;
}
.header__p {
   width: 40%;
}
.header__presentation {
   margin-top: 25px;
}
h1 {
   font-size: 40px;
}
/*  */

/* Dropdown */
.dropdown__button {
   display: flex;
   justify-content: center;
   padding: 15px;
   margin-bottom: 15px;
   width: 100%;
   border-radius: 25px;
   background-color: #2f2e2e;
   border: none;
   align-items: baseline;
   cursor: pointer;
}
.dropdown__button div,
.dropdown__button span {
   background-color: #2f2e2e;
   width: 100%;
   font-size: 28px;
}
/*  */

/* About */
.infos__left p,
.infos__right p {
   padding-bottom: 10px;
}
.infos__perso > p {
   margin-bottom: 15px;
}
.infos__perso span {
   color: #a4a2a2;
}
.link__title {
   margin-bottom: 15px;
}
.link img {
   width: 90px;
}
.about {
   padding-bottom: 15px;
}
/*  */
.competence canvas {
   margin: auto;
   height: 150px;
   width: 150px;
}
.competence {
   width: 30%;
   margin: 15px 0 15px 0;
}
.competence p {
   margin-bottom: 10px;
   font-size: 20px;
}
.pie {
   position: relative;
}
.pourcentage {
   position: absolute;
   top: 50%;
   right: 50%;
   transform: translate(50%, -50%);
}
.card__projets {
   width: 80%;
}
.card__projet {
   width: 34%;
   margin-bottom: 20px;
   background-color: #2f2e2e;
   border-radius: 35px;
   overflow: hidden;
}
.card__projet div {
   width: 100%;
   height: 150px;
   background: white;
   position: relative;
}
.card__projet img {
   width: 50%;
   height: 50%;
   object-fit: contain;
   position: absolute;
   top: 50%;
   right: 50%;
   transform: translate(50%, -50%);
   background: white;
}
.card__projet span {
   background-color: #2f2e2e;
}
.card__projet span p {
   padding: 20px;
   background-color: #2f2e2e;
}
.carousel {
   top: 50%;
   right: 50%;
   transform: translate(50%, -50%);
   height: 100%;
   width: 100%;
   max-width: 900px;
}
.carousel__img {
   height: 80%;
   width: 100%;
   background: no-repeat;
   background-color: white;
   background-size: contain;
   background-position-x: center;
}
/* .carousel__img img {
   padding: 15px;
   right: 50%;
   transform: translate(50%, 0);
   background: white;
} */
.carousel__p {
   height: 20%;
}
.fa-x {
   position: absolute;
   z-index: 1;
   color: black;
   background: none;
   right: -15px;
   top: -20px;
}
